body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* //My styles for App.js */

.headerandbutton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-between;

}

.welcomeheader {
  display: flex;
  justify-content: center;

}

.navWrapper {
  display: flex;
  flex-direction: center;
  width: 65%;
}



.homebuttonFlex {
  display: flex;
  align-items: center;
  
  
  
}


.homebutton {
 border-radius: 10px;
  height: 60%;
  background: #414345;
  margin-left: 20px;
  color: white;

}



/* //My styles for navwrapper */


ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  
}

.unorderedList {
  border: 1px black solid;
  border-radius: 3px;
  background: #414345;


}

.unorderedList li {

  list-style-type: none;
  color: white;
}


/* //subnav page */

.subNavNav {
  border: 2px black solid;
  border-radius: 3px;
  background: #414345;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  
}

.navlink {
  text-decoration: none;
  color: white;
}

